body {
    margin: 0;
    padding: 0;
}

header {
background-color: #4CAF50;
color: white;
text-align: center;
padding: 20px 0;
}

main {  
display: flex;   
justify-content: space-between;
padding: 20px;
}

.produtos {
flex-grow: 2;  
margin-right: 20px;
}

footer {
color: white;
text-align: center;  
padding: 10px 0;
}
